.body {
  min-height: 100vh;
  padding: 24px;
}
.main-page {
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 18px 20px;
  border: 1px solid #E0E0E0;
  gap: 10px;
}
.text-header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #1E1F21;
}
.btn-add-newgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 159px;
  background: #01959F;
  color: white;
  font-size: 12px;
}
.cointainer-tasks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.item-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  align-items: flex-start;
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
.card-name {
  color: #404040;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
.card-item-empty {
  padding: 16px;
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
.card-empty-text {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  margin: 0;
}
.line-dashed {
  height: 0px;
  width: 100%;
  border: 1px dashed #E0E0E0;
  margin-bottom: 5px;
}
.progress {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.bar-percentage {
  width: 201px;
  height: 16px;
  background: #EDEDED;
  border-radius: 7px;
  margin-right: 16px;
}
.percentage {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #01959f;
  height: 100%;
}
.number-percent {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
}
.horizontal-dots {
  position: relative;
  display: flex;
  flex-direction: flex-end;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 30px;
  height: 20px;
}
.horizontal-dots div {
  margin: auto;
}
.horizontal-dots div:active {
  background: #EDEDED;
  border-radius: 4px;
}
.horizontal-dots:hover {
  background: #EDEDED;
  border-radius: 4px;
}
.horizontal-dots:focus {
  background: #EDEDED;
}
.horizontal-dots span {
  text-align: center;
  width: 2px;
  height: 2px;
  border: 2px solid #757575;
  background-color: #757575;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}
.card-container {
  gap: 8px;
  padding: 16px;
  display: flex;
  width: 326px;
  flex-direction: column;
  background: #F7FEFF;
}
.month-schedule-text {
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  font-size: 12px;
  color: #404040;
}
.new-task-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 6.67px;
}
.plus-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.67px;
  height: 16.67px;
  background: transparent;
  border: 2px solid #333333;
  border-radius: 50%;
}
.text-plus-circle {
  text-align: center;
  font-weight: 700 !important;
  font-size: 15px !important;
  color: #1D1F20;
}
.button-text{
  display: flex;
  align-items: center;
}
.button-text p{
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #1D1F20 !important;
  margin: 0;
}
.block {
  display: block;
}
.hidden {
  display: none;
}