.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.modalContainer {
  position: relative;
  width: 420px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.modal-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #1D1F20;
}
.modalContainer .title {
  display: inline-block;
  text-align: center;
}
.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.login-input {
  height: 23px;
}
.login-input-2 {
  height: 23px;
}
.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}
.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.btn-cancel {
  background: #FFFFFF;
  color: #1D1F20;
}
.btn-save {
  background: #01959F;
  color: #FFFFFF;
}